---
import Layout from "../layouts/Layout.astro";
import PlotFigure from "../components/PlotFigure.astro"
import CarsFigure from "../components/CarsFigure.astro";
import IndustryFigure from "../components/IndustriesFigure.astro"
---

<Layout>
	<h1>Visualisation des graphiques</h1>
	<div class="cards">
		<PlotFigure />
		<CarsFigure />
		<IndustryFigure />
	</div>
</Layout>

<style>
	h1{
		margin-top: 50px;
		display: flex;
		justify-content: center;
		color: #2c3e50;
	}
	.cards{
		display: flex;
		justify-content: space-between;
		padding:0 50px;
		margin-top: 75px;
	}
</style>