---
import * as Plot from "@observablehq/plot";
import { JSDOM } from "jsdom";
import industries from "../../industries.json" assert { type: "json" };

const plot = Plot.plot({
    style: "overflow: visible;",
    y: {
        grid: true,
        label: "Unemployed",
    },
    x: {
        label: "Date",
    },
    marks: [
        Plot.ruleY([0]),
        Plot.line(industries, {
            x: "date",
            y: "unemployed",
            stroke: "industry",
        }),
    ],
    document: new JSDOM("").window.document,
});
---
<a href="/industry" class="bloc">
    <p style="text-align:center; margin-bottom: 1rem;">Licenciements par industrie au fil du temps</p>
    <div class="card">
        <div set:html={plot.outerHTML} />
    </div>
</a>

<style>
    a{
        text-decoration: none;
        color: inherit;
    }
    .bloc{
        display: flex;
        flex-direction: column;
    }
    .bloc:hover{
        cursor: pointer;
    }
    p{
        font-size: large;
    }

    .card{
        width: 400px;
        margin: 0 auto;
        padding: 1rem;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        background: #fff;
        border-radius: 8px;
        transition: scale 0.3s ease;
    }
    .card:hover{
        scale: 1.05;
    }
</style>